.container {
}
.sidenav{
  width: 150px;
  /* background-color: #123030; */
  background-color: #000;
}
.nav-list i{
padding-right: 10px;
}
.nav-list a{
  color: #fff;
}

.content{
padding: 16px;
background-color: #fff;
}
